@import '/src/styles/vars';
.App {
	&__wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 505px;
		padding: 50px;
		background: $cl_dark;
		border: 1px solid #29292f;
		box-shadow: 0px 4px 15px rgba(180, 180, 180, 0.05);
		border-radius: 12px;
	}
	&__title {
		font-size: 56px;
		font-weight: bold;
		color: $cl_white;
		margin-bottom: 10px;
	}
	&__inner {
		padding: 8px;
		border-radius: 30px;
		background: #2b2d37;
		display: flex;
		margin-bottom: 32px;
	}
	&__field {
		color: $cl_white;
		border: none;
		width: 100%;
		margin-right: 10px;
		font-weight: 500;
		font-size: 16px;
		background: #2b2d37;
		transition: border-color 0.4s;
		&:focus {
			border-color: $cl_yellow;
		}
		&::placeholder {
			color: $cl_white;
		}
	}
	&__plus {
		border-radius: 50%;
		position: relative;
		width: 30px;
		height: 30px;
		flex-shrink: 0;
		background: #38bc80;
		transition: $tr_normal;
		&:hover {
			background: $cl_yellow-dark;
		}
	}
	&__plus-icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 25px;
		height: 25px;
		fill: white;
	}
	&__list {
		max-height: 500px;
		margin-bottom: 20px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $cl_yellow;
			border-radius: 5px;
		}
	}
	&__item {
		margin-bottom: 32px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__delete-btn {
		color: $cl_white;
		width: 100%;
		text-align: center;
		padding: 10px 5px;
		transition: $tr_normal;
		font-weight: bold;
		&:hover {
			background: $cl_red;
		}
	}
	&__add-text {
		text-align: center;
	}
}
