$cl_yellow: #38bc80; //was redesign
$cl_yellow-dark: #d68e04;
$cl_red: #fd0037;
$cl_dark: #1e1f25;
$cl_white: #fff;
$cl_light-white: #dadada;
$cl_black: #000;
$cl_gray: #1f1f1f;
$cl_light-gray: #454545;
//transitions
$tr_normal: 0.4s;
